<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">   
    <head>
        <title>Sin Limites Travel Agency__</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../../static/css/Tours.css" rel="stylesheet" type="text/css"/>
        <link href="/css/homepage.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body style="background-color: black">
        <header>
            <nav>
                <a th:href="@{/About}">Acerca</a> 
                <a th:href="@{/}">Home</a>
                <a th:href="@{/tour/listadoTour}">Tours</a>
                <a href="#">Bookings</a>
                <a th:href="@{/Destinos}">Destinos</a>
                <a th:href="@{/Contacto}" >Contáctanos</a> 
                <a th:href="@{/oferta/listadoOferta}">Ofertas</a>
                <a th:href="@{/resena/listadoResena}">Reseñas</a>
                <a href="#" class="nav-link"> 
                    <span><i class="fa fa-user-tag"></i></span>
                    <span sec:authentication="name"></span>
                </a>
                <form method="POST" th:action="@{/logout}">
                    <a class="salir" href="#" onclick="this.parentNode.submit();"><i class="material-icons">directions_walk</i></a> 
                </form> 
            </nav>
        </header>
        <div>
            <a th:href="@{/tour/nuevoTour}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-dark text-white">Nuevo Tour</a>
        </div>
        <div class="container">
            <h2 style="color: white; text-align: center">Tours</h2>
            <br>
            <br>
            <div class="row row-cols-2"th:if="${tours != null and !tours.empty}">
                <div class="card" style="clear: both; background-clip: padding-box;" th:each="tour : ${tours}">
                    <div class="card-body">
                        <h5 class="card-title" style="color: black">[[${tour.localidad}]]</h5>
                        <h4 class="card-subtitle mb-2 text-muted text-end">$[[${#numbers.formatDecimal(tour.precio, 1, 'DEFAULT', 2, 'DEFAULT')}]]</h4>
                        <h3 class="card-subtitle"style="color: black">[[${tour.tipo}]]</h3>
                        <p class="card-text" style="color: black">[[${tour.descripcion}]]</p>
                        <a class="card-link btn btn-dark text-white" th:href="@{/tour/modificarTour/} + ${tour.idTour}" sec:authorize="hasRole('ROLE_ADMIN')">Modificar</a>
                        <a class="card-link btn btn-dark text-white" th:href="@{/tour/eliminarTour/} + ${tour.idTour}" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</a>
                    </div>
                </div>  
            </div>
            <br>
            <br>
        </div>
        <div th:if="${tours == null and tours.empty}">
            No hay tours disponibles....
        </div>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>
