<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">   
    <head>
        <title>Sin Limites Travel Agency__</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/homepage.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <a th:href="@{/About}">Acerca</a> 
                <a th:href="@{/}">Home</a>
                <a th:href="@{/tour/listadoTour}">Tours</a>
                <a href="#">Bookings</a>
                <a th:href="@{/Destinos}">Destinos</a>
                <a th:href="@{/Contacto}" >Contáctanos</a> 
                <a th:href="@{/oferta/listadoOferta}">Ofertas</a>
                <a href="#" class="nav-link"> 
                <span><i class="fa fa-user-tag"></i></span>
                <span sec:authentication="name"></span>
                </a>
                <form method="POST" th:action="@{/logout}">
                    <a class="salir" href="#" onclick="this.parentNode.submit();"><i class="material-icons">directions_walk</i></a> 
                </form> 
            </nav>
        </header>
        <div>
            <a th:href="@{/tour/nuevoTour}" sec:authorize="hasRole('ROLE_ADMIN')">Nuevo Tour</a>
        </div>
        <div class="encabezado-img">
            <h2 id="titulo">Tours</h2>
            <br>
            <div th:if="${tours != null and !tours.empty}">
                <table border="1" id="tabla">
                    <thead>
                    <th>Tipo</th>
                    <th>Localidad</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th colspan="2" sec:authorize="hasRole('ROLE_ADMIN')">Acciones</th>
                    </thead>
                    <tbody>
                        <tr th:each="tour : ${tours}">                          
                            <td th:text="${tour.tipo}"></td>
                            <td th:text="${tour.localidad}"></td>
                            <td th:text="${tour.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(tour.precio, 0 , 2)}"></td> 
                            <td><a th:href="@{/tour/modificarTour/} + ${tour.idTour}" sec:authorize="hasRole('ROLE_ADMIN')">Modificar</a></td>
                            <td><a th:href="@{/tour/eliminarTour/} + ${tour.idTour}" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>  
            </div>
            <br>
            <br>
        </div>
        <div th:if="${tours == null and tours.empty}">
            No hay tours disponibles....
        </div>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>
