<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sin Limites Travel Agency__</title>
        <meta charset="UTF-8">
            <link href="/css/homepage.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <!-- comment <a th:href="">Acerca</a> -->
                <a th:href="@{/tour/listadoTour}">Tours</a>
                <!--<a th:href="">Bookings</a>
                <a th:href="">Destinos</a>-->
                <a th:href="@{/Contacto}" >Contáctanos</a>
                <!--<a th:href="">Login</a>-->  
                <a th:href="@{/}">Home</a>
            </nav>
        </header>
        <div class="encabezado-img">
            <h1>Contacta con nosotros</h1>
            <br/>
            <h2>Telefono: +506 7018 9450</h2>
            <h2>Correo Electronico: sinlimites@gmail.com </h2>
            <br/>
            <p>Si tienes alguna pregunta o comentario, no dudes en contactarnos.</p>
        </div>
    </body>
</html>
