<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Sin Limites Travel Agency__</title>
        <meta charset="UTF-8">
        <link href="/css/homepage.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header> 
            <nav>
                <a href="#">Acerca</a> 
                <a th:href="@{/tour/listadoTour}">Tours</a>
                <a href="#">Bookings</a>
                <a href="#">Destinos</a>
                <a th:href="@{/Contacto}" >Contáctanos</a>
                <a href="#" class="nav-link"> 
                <span>Bievenido:</span>
                <span sec:authentication="name">Usuario</span> 
                </a>
                <form method="POST" th:action="@{/logout}">
                    <a href="#" onclick="this.parentNode.submit();">Salir</a> 
                </form> 
            </nav>
        </header>
        <div class="encabezado-img">
            <br>
            <br>
            <p>Travel Agency</p>
            <h1>TRAVEL AND LEARN THE BEST WAY TO DO IT</h1>
            <p>Recorriendo Costa Rica</p>
        </div>
    </body>
</html>
