<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Sin Limites Travel Agency__</title>
        <meta charset="UTF-8">
        <link href="/css/homepage.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <nav>
                <a href="#">Acerca</a>
                <a href="#">Tours</a>
                <a href="#">Bookings</a>
                <a href="#">Destinos</a>
                <a href="#">Contáctanos</a>
                <a href="#">Login</a>
            </nav>
        </header>
        <div class="encabezado-img">
            <p>Travel Agency</p>
            <h1>TRAVEL AND LEARN THE BEST WAY TO DO IT</h1>
            <p>Recorriendo Costa Rica</p>
        </div>
    </body>
</html>

