<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Sin Limites Travel Agency__</title>
        <meta charset="UTF-8">
        <link href="/css/homepage.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body style="background-color: black">
        <header> 
            <nav>                 
                <a th:href="@{/About}">Acerca</a> 
                <a th:href="@{/tour/listadoTour}">Tours</a>
                <a th:href="@{/Bookings}">Bookings</a>
                <a th:href="@{/Destinos}">Destinos</a>
                <a th:href="@{/Contacto}">Contáctanos</a>
                <a href="#" class="nav-link"> 
                <span><i class="fa fa-user-tag"></i></span>
                <span sec:authentication="name"></span>              
                <form method="POST" th:action="@{/logout}">
                    <a class="salir" href="#" onclick="this.parentNode.submit();"><i class="material-icons">directions_walk</i></a> 
                </form> 
            </nav>
        </header>
        <section class="container">
            <div class="encabezado-img">
                <br>
                    <div class="content">
                        <p>Travel Agency</p>
                        <h1>TRAVEL AND LEARN THE BEST WAY TO DO IT</h1>
                        <p>Recorriendo Costa Rica</p>
                    </div>
            </div>
        </section>
    </body>
</html>
