<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">   
    <head>
        <title>Sin Limites Travel Agency__</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/homepage.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <a th:href="@{/About}">Acerca</a> 
                <a th:href="@{/}">Home</a>
                <a th:href="@{/tour/listadoTour}">Tours</a>
                <a href="#">Bookings</a>
                <a th:href="@{/Destinos}">Destinos</a>
                <a th:href="@{/Contacto}" >Contáctanos</a> 
                <a th:href="@{/oferta/listadoOferta}">Ofertas</a>
                <a href="#"> 
                    <span>Bievenido:</span>
                    <span sec:authentication="name">Usuario</span> 
                </a>
                <form method="POST" th:action="@{/logout}">
                    <a class="salir" href="#" onclick="this.parentNode.submit();"><i class="material-icons">directions_walk</i></a> 
                </form> 
            </nav>
        </header>
        <div>
            <a th:href="@{/oferta/nuevoOferta}" sec:authorize="hasRole('ROLE_ADMIN')">Nueva Oferta</a>
        </div>
        <div class="encabezado-img">
            <h2 id="titulo">Ofertas de la semana</h2>
            <br>
            <br>
            <div th:if="${ofertas != null and !ofertas.empty}">
                <table border="1" id="tabla">
                    <thead>
                    <th>Nombre del Lugar</th>
                    <th>Localidad</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th colspan="2" sec:authorize="hasRole('ROLE_ADMIN')">Acciones</th>
                    </thead>
                    <tbody>
                        <tr th:each="oferta : ${ofertas}">                          
                            <td th:text="${oferta.nombreLugar}"></td>
                            <td th:text="${oferta.localidad}"></td>
                            <td th:text="${oferta.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(oferta.precio, 0 , 2)}"></td>
                            <td><a th:href="@{/oferta/modificarOferta/} + ${oferta.idOferta}" sec:authorize="hasRole('ROLE_ADMIN')">Modificar</a></td>
                            <td><a th:href="@{/oferta/eliminarOferta/} + ${oferta.idOferta}" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>  
            </div>
        </div>
        <div th:if="${ofertas == null and ofertas.empty}">
            No hay tours disponibles....
        </div>
    </body>
</html>
